# config
config.json

# xcuserstate
*.xcuserstate  
project.xcworkspace  
xcuserdata  
UserInterfaceState.xcuserstate  
project.xcworkspace/  
xcuserdata/  
UserInterface.xcuserstate
*xcworkspace/xcuserdata/*

# pods
Pods